@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Italiana&display=swap');

/* Animations & main things such as Body */
* {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

#header {
    height: 100vh;
    background: url("videos/header-vid.mp4") no-repeat, center center;
}

/* Sections */

.navbar {
    background-color: rgba(0,0,0,0.5) !important;
}

.navbar-brand {
    font-size: 30px;
}

.nav-link:hover, .navbar-brand:hover, a:hover {
    color: burlywood !important;
    transition: ease-in;
}

/* Elements */

a {
    text-decoration: none !important;
    color: whitesmoke !important;
}

h1 {
    font-family: 'Cinzel', sans-serif;
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    color: black !important;
}